<div class="body">
  <div class="header">
    <img src="././assets/banner.png" width="34%" height="10%" class="center">
  </div>

  <div class="navbar">
    <div class="navbarCenter">
      <a routerLink="/home" class="color1  ">Apresentação</a>
      <a routerLink="/equipe" class="color2  ">Equipe</a>
      <a routerLink="/depoimento" class="color3  ">Depoimento</a>
      <a routerLink="/servicos" class="color4  ">Serviços</a>
      <a routerLink="/home" class="color5  ">Atendimento</a>
      <a routerLink="/home" class="color6  ">Loja</a>
      <a routerLink="/home" class="color7  ">Contato</a>
      <a routerLink="/home" class="color8  ">Publique Conosco</a>
    </div>
  </div>


</div>
