.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.all{
    margin-top: 2.5%;
    margin-right: 4%;
    margin-left: 4%;
}
.header {
    background: #3a3a3afa;
    color: white;
  }
  
  .header h1 {
    font-size: 40px;
  }

  .navbar { 
    border-color: #0FBD05;
    overflow: hidden;
    background-color: #DDDDDD;
    position: sticky;
    top: 0;
  }

  .navbarCenter{
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: table;
    left: 10%;
  }


  /* Style the navigation bar links */
  .navbar a {
    float: left;
    width: 10%;
    display: block;
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 1.1% 1%;
    text-decoration: none;
    border-width: 10px 0px 0px 0px;
    border-style: solid;
    
  }

  .navbar a:hover{
    text-decoration: underline black;
  }
  
  .navbar a.color1 {
    border-color: yellow;
  }

  .navbar a.color2 {
    border-color: #FFA500;
  }

  .navbar a.color3 {
    border-color: #C540C7;
  }

  .navbar a.color4 {
    border-color: #9300A5;
  }

  .navbar a.color5 {
    border-color: #5048F1;
  }

  .navbar a.color6 {
    border-color: #002EA5;
  }

  .navbar a.color7 {
    border-color: #66F35E;
  }

  .navbar a.color8 {
    border-color: #0FBD05;
  }

