.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 165px;
    background-color: #3a3a3afa;
    color: white;
    font-family: "Arial";
    display: table;
 }

 .info{
    margin-top: 10px;
    margin-left: 15%; 
 }

 th{
    text-align: left;
    padding: 8px;
 }

 .border{
    border-right: 250px solid transparent;
    background-clip: padding-box;
 }

 .p1{
    font-size: 16px; 
    line-height: 1.5;
    margin: 0;
 }

 .p2{
    line-height: 1;
    font-size: 15px;
    margin: 0;
 }

 .size{
     font-size: 10px;
 }

.esp{
    margin-right: 10%;
}

 .img{
    box-shadow: -6px 6px 4px 4px rgb(44, 44, 44);
 }