<div class="footer">
    <table>
        <tr>
          <th><img src="././assets/logoN.png"  width="100%" height="100%" class="img"></th>
          <th class="border"> 
          <p class="p1">Contatos:</p>
            <p class="p2">+55 61 99836-1610<br>  +55 11 99708-9061<br>   +55 34 99163-0308<br>   +43 677 6179-1978<br>
            Email: boarddquartett.suporte@gmail.com</p>
          </th>
        </tr>
      </table>
</div>