<app-header></app-header>
<div id="container">
  <div class="profissionais">
      <div class="descricao">
      <img src="././assets/avatar1.png" id="img">
      <a routerLink="/equipe" (click)="equipeModal(1)"><div class="text"><span><mat-icon class="sizeIcon">search</mat-icon><br>
        Profissional Amanda Rodrigues - CRM 9999 DF<br><strong><font color="blue">[ Perfil ]</font></strong></span></div></a>
      </div>
  </div>

  <div class="profissionais">
      <div class="descricao">
      <img src="././assets/avatar2.png" id="img">
      <a routerLink="/equipe" (click)="equipeModal(2)"><div class="text"><span><mat-icon class="sizeIcon">search</mat-icon><br>
        Profissional Alex Gomes - CRM 9999 DF<br><strong><font color="blue">[ Perfil ]</font></strong></span></div></a>
      </div>
  </div>

  <div class="profissionais">
      <div class="descricao">
      <img src="././assets/avatar3.png" id="img">
      <a routerLink="/equipe" (click)="equipeModal(3)"><div class="text"><span><mat-icon class="sizeIcon">search</mat-icon><br>
        Profissional Nicole Castro - CRM 9999 DF<br><strong><font color="blue">[ Perfil ]</font></strong></span></div></a>
      </div>
  </div>

  <div class="profissionais">
      <div class="descricao">
      <img src="././assets/avatar4.png" id="img">
      <a routerLink="/equipe" (click)="equipeModal(4)"><div class="text"><span><mat-icon class="sizeIcon">search</mat-icon><br>
        Profissional Marina Dias - CRM 9999 DF<br><strong><font color="blue">[ Perfil ]</font></strong></span></div></a>
      </div>
  </div>

  <div class="profissionais">
      <div class="descricao">
      <img src="././assets/avatar5.png" id="img">
      <a routerLink="/equipe" (click)="equipeModal(5)"><div class="text"><span><mat-icon class="sizeIcon">search</mat-icon><br>
        Profissional Isabelle Alves - CRM 9999 DF<br><strong><font color="blue">[ Perfil ]</font></strong></span></div></a>
      </div>
  </div>

  <div class="profissionais">
      <div class="descricao">
      <img src="././assets/avatar6.png" id="img">
      <a routerLink="/equipe" (click)="equipeModal(6)"><div class="text"><span><mat-icon class="sizeIcon">search</mat-icon><br>
        Profissional Fernanda Barros - CRM 9999 DF<br><strong><font color="blue">[ Perfil ]</font></strong></span></div></a>
      </div>
  </div>

</div>
<div>
  <app-footer></app-footer>
</div>
<!--<video loop="" muted="" autoplay="" class="fullscreen-bg_video" width="100%" height="100%">
<source src="https://www.psicologiaviva.com.br/sitenovo/videos/header_video.mp4"  type="video/mp4"> </video>-->