
.right {
  text-align: right;
}
  
.header {
position: relative;
}
  

.colorButton{
    background-color: rgba(0, 0, 0, 0);
}

.conteudo{
  overflow: hidden;
  position: sticky;
}

.blockTop{
  background-color: rgb(41, 41, 41);
}

.profissional{
  float: left;
  margin-top: 3%;
  width: 35%;
}
.descricao{
  position: relative;
  margin-top: 3%;
  margin-left: 35%;

}

.center{
  margin-left: 7%;
  margin-top: 7%;
}

.nome{
  text-align: center;
  font-size: 20px;
  margin-top:  5%;
  margin-right: 18%;
}

#img{
  width: 245px;
  height: 232px;
}

li.separador {
    width: 90%; /* coloque aqui a largura da linha */
    border-top: 1px solid #000;
    list-style-type: none;
}

