<div class="body">
  <div class="header">
    <div class="right blockTop">
      <button mat-icon-button class="colorButton" isIconButton="true" mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
    <div class="conteudo">
      <div class="profissional">
        <div class="center">
          <img src='{{data["foto"]}}' id="img"><br>
          <div class="nome">
            {{data["name"]}}
          </div>
        </div>
      </div>

      <div class="descricao">
          <strong>{{data["name"]}}:</strong> sit amet, consectetur adipiscing elit. Nunc et placerat nisi. Nulla vitae vulputate elit. 
          Quisque pretium eget odio ac faucibus. Proin volutpat posuere nisi quis tristique. 
          Vestibulum at turpis et nunc lobortis pharetra. Cras iaculis mollis erat, vel dapibus augue. In hac habitasse platea dictumst. 
          Curabitur rhoncus ante tempus dignissim accumsan. Mauris malesuada sed est sit amet sodales. Donec finibus euismod quam id accumsan.
          Nam aliquam scelerisque lacinia. Suspendisse finibus, ex ac ornare pellentesque, arcu nisi facilisis urna, in eleifend odio risus sed velit. 
          Pellentesque non nisl maximus neque viverra rhoncus. Ut mattis mauris eu ipsum lacinia scelerisque. Aenean vulputate libero nec sapien iaculis porttitor. 
          Vestibulum hendrerit turpis et metus accumsan commodo. Curabitur a pulvinar ligula, in mollis nisl. Aenean sed fringilla velit. 
          Suspendisse tempus purus velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque arcu velit, placerat in nisl vitae, euismod egestas elit. 
          Aliquam ut augue vel tellus posuere pellentesque. Nullam porta, diam eu hendrerit fermentum, nulla eros egestas diam, sed dapibus arcu sem ut dolor.
          Vestibulum at libero elit. In tristique sit amet sapien in lobortis. Suspendisse interdum, odio et porttitor vestibulum, dui lorem tristique magna, 
          vitae ornare justo ex eu nibh. Pellentesque facilisis ut tellus quis imperdiet. Praesent luctus, quam at scelerisque efficitur, quam orci congue justo, eu blandit quam ligula ac eros. Fusce vestibulum egestas ex at dictum. Donec quis pulvinar magna, et lacinia nisl. Aliquam sed eros vel sem finibus suscipit. Mauris sed lectus suscipit, rhoncus arcu vitae, blandit ante. Nullam id tortor nec justo tempus efficitur. Proin erat nibh, semper volutpat erat ac, lobortis pretium mi. Praesent nec imperdiet metus, vitae bibendum elit. Donec pellentesque enim vitae congue condimentum.
          Fusce lacinia turpis tortor, at malesuada elit aliquet vel. Proin id mauris in lacus fermentum aliquet. In pulvinar tristique nulla et feugiat.
          Etiam ultrices eros at ultricies tempus. Proin semper nulla tellus, ac tempor dolor vulputate sed. Praesent ultricies mauris eu tincidunt consequat. 
          Maecenas et velit libero.
        </div>
    </div>
  </div>

</div>