<app-header></app-header>

<div class="ui-g">
  <div class="ui-g-12" style="padding: 50px">
    <div align="center">
      <font size="20">Depoimentos:</font>
    </div>

    <div *ngFor="let dep of depoimentos; index as i" [hidden]="i>limit">
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-2">
          <img [src]=dep.img width="100" height="100">
        </div>
        <div class="ui-g-12 ui-md-10">
          <label>
            {{dep.descricao}}
          </label>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-2">
          {{dep.nome}}
        </div>
        <div class="ui-g-12 ui-md-4 ">
          <p-rating [(ngModel)]="dep.rating"></p-rating>
        </div>
        <div class="ui-g-12 ui-md-6" align="right">
          <button pButton type="button" label="Veja mais" (click)="openView(dep)" class="ui-button-warning" style="color: white"></button>
        </div>
      </div>
    </div>

    <div style="text-align: center;">
      <button pButton type="button" label="Veja mais depoimentos" (click)="moreDepoiments()" class="ui-button-warning" style="color: white"></button>
    </div>

  </div>
</div>

<p-dialog [(visible)]="popUp" header="" [style]="{'width':'800px', 'height': '1500px'}" [maximizable]="true" [baseZIndex]="10000" blockScroll="true" [responsive]="true">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-3 ui-g-nopad">
      <div class="ui-g-12" *ngIf="depoimentoSelecionado">
        <p-rating [(ngModel)]="depoimentoSelecionado.rating"></p-rating>
      </div>
      <div class="ui-g-12">
        <img [src]=depoimentoSelecionado?.img width="100" height="100">
      </div>
      <div class="ui-g-12">
        <h1>{{depoimentoSelecionado?.nome}}</h1>
      </div>
    </div>
    <div class="ui-g-12 ui-md-7">
      {{depoimentoSelecionado?.descricao}}
    </div>
  </div>
</p-dialog>

<app-footer></app-footer>
