<app-header></app-header>

<div class="titulo">
    <h1>Tratamentos oferecidos por Boardd Quartett</h1>
</div>

<div class="grupo-texto1">
    <h5> &#10003; Diversos tipos de abusos</h5>
    <h5> &#10003; Indicadores/frases</h5>
    <h5> &#10003; Eu odeio meu pai/minha mãe</h5>
    <h5> &#10003; Sofro de Bulimia/anorexia</h5>
    <h5> &#10003; Tenho medo de pessoas</h5>
    <h5> &#10003; Sou muito tímida/o</h5>
    <h5> &#10003; Obesidade descontrolada</h5>
    <h5> &#10003; Se achar feia/feio</h5>
    <h5> &#10003; Choro excessivo</h5>
    <h5> &#10003; Silêncio excessivo</h5>
    <h5> &#10003; Acne excessiva</h5>
    <h5> &#10003; Não lembro nada da, minha infância</h5>
</div>
<div class="grupo-texto2">
    <h5> &#10003; Diversos tipos de abusos</h5>
    <h5> &#10003; Indicadores/frases</h5>
    <h5> &#10003; Eu odeio meu pai/minha mãe</h5>
    <h5> &#10003; Sofro de Bulimia/anorexia</h5>
    <h5> &#10003; Tenho medo de pessoas</h5>
    <h5> &#10003; Sou muito tímida/o</h5>
    <h5> &#10003; Obesidade descontrolada</h5>
    <h5> &#10003; Se achar feia/feio</h5>
    <h5> &#10003; Choro excessivo</h5>
    <h5> &#10003; Silêncio excessivo</h5>
    <h5> &#10003; Acne excessiva</h5>
    <h5> &#10003; Não lembro nada da, minha infância</h5>
</div>

<br>

<div class="marcar-consulta" >
    <img id="imagem" src="././assets/marque_consulta.png">
</div>

<br>

<div class="titulo">
    <h1>Cursos oferecidos por Boardd Quartett</h1>
</div>

<div class="grupo-texto1">
    <h3>Tabuleiro</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet lobortis iaculis. Sed dapibus felis id
        turpis mollis, id consequat justo vehicula. Ut vel velit commodo, vulputate sem a, suscipit lectus. Vivamus ut
        blandit magna. Nam et bibendum nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac.</p>
</div>
<div class="grupo-texto2">
    <h3>Interpretação de mapa</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet lobortis iaculis. Sed dapibus felis id
        turpis mollis, id consequat justo vehicula. Ut vel velit commodo, vulputate sem a, suscipit lectus. Vivamus ut
        blandit magna. Nam et bibendum nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac.</p>
</div>
<div class="grupo-texto1">
    <h3>Mentoring</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet lobortis iaculis. Sed dapibus felis id
        turpis mollis, id consequat justo vehicula. Ut vel velit commodo, vulputate sem a, suscipit lectus. Vivamus ut
        blandit magna. Nam et bibendum nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac.</p>
</div>
<div class="grupo-texto2">
    <h3>Constelação</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet lobortis iaculis. Sed dapibus felis id
        turpis mollis, id consequat justo vehicula. Ut vel velit commodo, vulputate sem a, suscipit lectus. Vivamus ut
        blandit magna. Nam et bibendum nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac.</p>
</div>
<app-footer></app-footer>