div.titulo {
    text-align: center;
}

div.grupo-texto1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 38%;
    float: left;
    width: 13%;
}

div.grupo-texto2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 13%;
    margin-right: 34%;
    float: right;
}

div.marcar-consulta {
    text-align: center;
    width: 100%;
}