.image1{
width: 100%;
height: 100%;
}


.image2{
   width: 100%;
   height: 1000px;
}

@media only screen and (max-width: 1650px) {
   p{
       font-size: 20px;
   }
   .image1{
      height: 60%;
    }

    .image2{
      height: 800px;
   }
}

@media only screen and (max-width: 1200px) {
   p{
       font-size: 18px;
   }
   .image1{
      height: 60%;
    }
    .image2{
      height: 700px;
   }
}

 @media only screen and (max-width: 1000px) {
   p{
       font-size: 14px;
   }
   .image1{
      height: 60%;
    }
    .image2{
      height: 600px;
   }
}

@media only screen and (max-width: 500px) {
   p{
       font-size: 6px;
   }
   .image1{
      height: 30%;
    }
    .image2{
      height: 300px;
   }
}

.center {
    text-align: center;
    }
  
.texto {
      margin-top: 10%;
      margin-left: 5%;
      font-size: 35px;
      color: black;
      text-align: center;
      line-height: 1.5;
   }

   .texto2 {
      margin-top: 5%;
      margin-left: 3%;
      font-size: 27px;
      color: black;
      text-align: left;
      line-height: 1.2;
      width: 40%;
   }

#container {
      overflow: hidden;
      position: sticky;
      clear: both;
}

.titulo{
   text-align: center;
   font-size: 50px;
}

.titulo2{
   text-align: center;
}

#container .figcaption {
   background: rgba(0, 0, 0, 0.05);
   position: absolute;
   top: 0px;
   bottom: 0%;
   width: 100%;
   color: black;
 }

 #container .figcaption2 {
   background: rgba(0, 0, 0, 0.1);
   position: absolute;
   top: 0px;
   bottom: 0%;
   width: 100%;
   color: black;
 }