<app-header></app-header>
<div id="container" class="image1">
        <img id="imagem" src="././assets/terapia.png" width="100%" height="100%">
        <div class="figcaption">
                <div class="texto">
                        <div class="titulo"><p><strong>Quem é o Board Quartett?</strong></p></div>
                        <p>É uma equipe de quatro terapeutas com formações específicas, tais como: Biomedicina,<br>
                                Fisioterapia, Licenciatura em Letras, Ciências Naturais,<br>
                                Pós-graduação em Metodologia do Ensino Superior, Administração Sistêmica e Gerenciamento
                                Ambiental.<br></p>

                        <p>Bem como Analista Corporal e Comportamental, Bioenergética, Constelação Sistêmica,<br>
                                Programação Neuro Linguística, Coaching, Reiki, Mocha,<br>
                                Mesoterapia Homeopática, Mesoterapia Estética e Barras de Access.</p>
                </div>
        </div>
</div>
<div>
        <div id="container" class="image2">
                <img id="imagem" src="././assets/mente.png" width="100%" height="100%">
                <div class="figcaption2">
                        <div class="texto2">
                                <div class="titulo2"><p><strong>MISSÃO:</strong></p></div>
                                <p>Promover a expansão da consciência vital, ressignificando histórias, a partir de suas
                                próprias experiências.</p>
                                <div class="titulo2"><p><strong>VISÃO:</strong></p></div>
                                <p>Contribuir para que o maior número possível de pessoas possa alcançar a plenitude do
                                adulto saudável.</p>
                                <div class="titulo2"><p><strong>VALORES:</strong></p></div>
                                <p>Pautamos o nosso trabalho em valores éticos e morais, respeitando à integridade do ser
                                humano.<br><br></p>
                                <p>Porque acreditamos em algo maior:<br> a sua Vida pode ser ressignificada,
                                possibilitando-lhe consciência e compreensão continuamente!
                                Acreditamos que nascemos para sermos felizes, viver em plenitude.<br><br></p>
                                <div class="center"><p>Existimos como facilitadores desta possibilidade na sua existência!</p>
                                </div>
                        </div>
                </div>
        </div> 
        <div>
         <app-footer></app-footer>
        </div>
        <!--<video loop="" muted="" autoplay="" class="fullscreen-bg_video" width="100%" height="100%">
<source src="https://www.psicologiaviva.com.br/sitenovo/videos/header_video.mp4"  type="video/mp4"> </video>-->